{% extends 'base.html' %}

{% block metas %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <center><h2 class="display-4">About</h2></center>
        <hr>
        <p>
            <a href='http://covidcases.com'>covidcases.com</a> is a website for finding information about local instances of the 2019-nCoV disease. It pulls from the JHU CSSE COVID data, available <a href='https://github.com/CSSEGISandData/COVID-19'>here</a>.
        </p>
        <br>
        <p>
            This website is for informational purposes only. It depends on external data sources and does <b>not</b> represent medical advice. Currently, only state-level resolution is available for the US.
        </p>
        <br>
        <p>
            All code is available from <a href="https://github.com/sudo-rushil/covid-cases">GitHub</a>. Star this project if you find it to be helpful!
            If you have any questions or concerns, <a href='mailto:rushil.mallarapu@gmail.com'>contact me</a>.
        </p>
    </div>

    <footer>
        {% if request.MOBILE %}
        <br>
        {% endif %}
        <center><small> Created by Rushil Mallarapu</small></center>
    </footer>
{% endblock %}
